.search_form{
  margin-top: 1%;
}

footer{
  position: fixed;
  top: 95%;
  left: 10%;
  border-radius: 5px;
  color: rgba(12, 21, 154, 0.43);
}

.spacer_4{
  height: 80px;
  border: 1px grey;
}

body, .navbar {
  min-width: 777px;
}
